/* Empty. Add your own CSS if you like */

/* Override to fix required input border */
#signup-email,
#signup-password,
#signup-password-conf {
    padding: 16px;
}

fancy-select .list {
    margin: -1px 0;
}

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}

/* line 19, ../scss/modules/_fancy-select.scss */
.fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */
}

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
    height: 32px;
    line-height: 32px;
}

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

