 <div data-role="footer" id="footer" data-theme='b' data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="#home"     id='nav-home'     class='nav-button'  data-icon='home' ></a></li>
            <li><a href='#map'      id='nav-map'      class='nav-button'  data-icon='eye'></a></li>
            <li><a href='#upload' 	id='nav-camera'   class='nav-button'  data-icon='camera'></a></li>
            <li><a href='#spotlist' id='nav-heart' 	  class='nav-button'  data-icon='heart'></a></li>
            <li><a href='#profile' 	id='nav-profile'  class='nav-button'  data-icon='user'></a></li>
        </ul>
    </div>
</div>