<h1><%= username %></h1>

<div id="profile-bar" class="topcoat-button-bar">
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Friends</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Followers</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Following</button>
  </div>
</div>
<br>
<br>
<button id='search-users' class='topcoat-button'>Search People</button>
<br>
<br>
<button id='logout' class='topcoat-button'>Log out</button>