<ion-view title="Welcome" hide-nav-bar="true" >
    <ion-content class="splash_back " scroll="false">
        <div class="content has-header">
            <h1 class="text-center">
                Droppin
            </h1>
            <div class="card">
                <label id="signup-email" class="item item-input">
                    <input type="email" ng-model="signup.email"  placeholder="Email" autofocus required />
                </label>
                <label id="signup-password" class="item item-input">
                    <input type="password" ng-model="signup.password" placeholder="Password" required />
                </label>
                <!-- TODO finish password confirmation -->
                <!--<label id="signup-password-conf" class="item item-input">-->
                    <!--<input type="password" ng-model="signin.password_confirmation" placeholder="Password Confirmation" required />-->
                <!--</label>-->
                <div class="item">
                    <button type="submit" class="button button-positive button-block" ng-click="signUp()">
                        Register
                    </button>
                </div>
                <br>
                <div class="item">
                    <h2 class="text-center"> Already have an account?</h2>
                    <button ng-click="go_to_sign_in()" class="button button-block button-positive">
                        Sign In
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>