<ion-view title="Welcome" hide-nav-bar="true" >
    <ion-content class="splash_back " scroll="false">
        <div class="content has-header">
            <h1 class="text-center">
                Droppin
            </h1>
            <div class="card">
                <label id="signup-email" class="item item-input">
                    <input type="email" ng-model="credentials.email"  placeholder="Email" autofocus required />
                </label>
                <label id="signup-password" class="item item-input">
                    <input type="password" ng-model="credentials.password" placeholder="Password" required />
                </label>
                <label ng-hide="login" id="signup-password-confirmation" class="item item-input">
                    <input type="password" ng-model="credentials.password_confirmation" placeholder="Re-type Password" required />
                </label>
                <div class="item">
                    <button ng-show="login" type="submit" class="button button-positive button-block" ng-click="submit()">
                        Sign In
                    </button>
                    <button ng-hide="login" type="submit" class="button button-positive button-block" ng-click="submit()">
                        Register
                    </button>
                </div>
            </div>
            <div ng-show="login"class="text-center">
                <h5 class="text-center">Don't have an account?</h5>
                <a href ng-click="toggleLogin()">Register</a>
            </div>
            <div ng-hide="login" class="text-center">
                <h5 class="text-center">Already have an account?</h5>
                <a href ng-click="toggleLogin()">Login</a>
            </div>
        </div>
    </ion-content>
</ion-view>
