<ion-view title="Welcome" hide-nav-bar="true" >
    <ion-content class="splash_back " scroll="false">
        <div class="content has-header">
            <h1 class="text-center">
                Droppin
            </h1>
            <div class="card">
                <label id="signup-email" class="item item-input">
                    <input type="email" ng-model="signin.email"  placeholder="Email" autofocus required />
                </label>
                <label id="signup-password" class="item item-input">
                    <input type="password" ng-model="signin.password" placeholder="Password" required />
                </label>
                <div class="item">
                    <button type="submit" class="button button-positive button-block" ng-click="signIn()">
                        Sign In
                    </button>
                </div>
                <br>
                <div class="item">
                    <h2 class="text-center">Don't have an account?</h2>
                    <button ng-click="go_to_sign_up()" class="button button-block button-positive">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>